<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

{% include head.html %}

  <body>

    {% include menu.html %}

    <div class="container main-content">

      <main>

        {{ content }}

    </main>
    </div>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js" integrity="sha384-RH2xi4eIQ/gjtbs9fUXM68sLSi99C7ZWBRX1vDrVv6GQXRibxXLbwO2NGZB74MbU" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/r.min.js" integrity="sha384-poz1JEq/ihCmK+1p8IXPoluMlou+rnb+4Q3DenGB+mkNBB/JZkT0c/TERX8D+RUX" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/bash.min.js" integrity="sha384-BbT8tZtvkh8HPXIvL5RtzuljBwI3gR5KIdYxZyYSyI5C/+KNAGdzAiexvmxuroag" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/stan.min.js" integrity="sha384-+ErHpKxaFQvybqwEN9lNuFFYkOLFP4Vy3FZUM089R/HXXPO1Ngt2AI/YwrhwlNpI" crossorigin="anonymous"></script>
    <script src="assets/js/codeblock-layout.js"></script>
    <script src="assets/js/syntax-highlight.js"></script>
    <script src="assets/js/copy-button.js"></script>
    <script src="assets/js/keyboard-nav.js"></script>
  </body>

</html>
